/* ybnk.css */

@media (max-width: @screen-xs-max) { }
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { }
@media (min-width: @screen-lg-min) { }

body > .container {
  padding: 30px 15px 0;
}

.invalid {
  color: red;
}

#canvasContainer {
  padding-bottom: 14px;
}

#canvas {
  border: solid 1px black;
}

.form-cell {
  padding: 8px;
  width: 210px;
  vertical-align: top;
}

.form-cell input {
  margin-left: 20px;
}

.ybnk-config {
  width: 100%;
  margin-bottom: 15px;
}

.simulator-option {
  display: block;
  padding: 8px;
}

.simulator-option .slider {
  margin: 8px 10px;
}

.simulator-option .progress {
  margin: 8px 10px;
}

.number{
  width: 4em;
  text-align: right;
}

.koma-command {
  float: right;
}

.clear {
  clear: both;
}

.koma-config .row {
  padding: 4px 0px;
}

.koma-config .row .col-link {
  padding-top: 7px;
}

.koma-config .row-header {
  border-bottom: solid 1px gray;
}

.koma-config .row-odd {
  border-top: solid 1px gray;
  background-color: #f9f9f9;
}

.koma-config .row-even {
  border-top: solid 1px gray;
}