/* ybnk.css */

body > .container {
  padding: 60px 15px 0;
}

.invalid {
  color: red;
}

.form-cell {
  padding: 8px;
  width: 210px;
  vertical-align: top;
}

.form-cell input {
  width: 5em;
  margin-left: 20px;
  text-align: right;
}

.simulator-option {
  padding: 8px;
}

.simulator-option .slider {
  margin: 8px;
  margin-left: 10px;
  width: 30em;
}

.number{
  /*width: 5em;*/
  text-align: right;
}