%h3#howto 使い方

%p すべての入力は「半角」で行ってください。動かなくなったら、ページをリロードすると初期状態に戻ります。

%ol
  %li「コマ」を入力します。（必ず半角数字）
  %li「トビ」を衆力します。 (必ず半角数字)
  %li「針数」を選択します。針数は、コマ一つあたりの針数です。
  %li
  かがる手順を指定します。手順は上記で指定したトビの数だけ、行を自動的に作成します。
  %ol
    %li「刺し位置」、「向き」、「重ね刺しの指定」を指定します。
    %table.table.table-bordered.table-condensed
      %thead
      %th 項目
      %th 制限
      %th 説明
      %tbody
      %tr
        %td 刺し位置
        %td 半角数字、0以上の数値
        %td 基本とする開始位置から、何コマずらして刺し始めるかを入力します。
      %tr
        %td 向き
        %td -
        %td「並み刺し」か「開き刺し」を選択します。
      %tr
        %td 重ね刺しの指定
        %td -
        %td 一度にまとめて1コマ分刺す場合にチェックを入れます。
    %li
    それぞれの刺し位置で使用する糸の色を「色」、「段数」に指定します。<br/>
    複数の色を使用する場合は、「色を追加」ボタンを押すことで行が増えます。<br/>
    「▲」「▼」を押すことで、色の順序を変更できます。<br/>
    不要な色の指定は「削除」ボタンで消すことができます。
    %table.table.table-bordered.table-condensed
      %thead
      %th 項目
      %th 制限
      %th 説明
      %tbody
      %tr
        %td 色
        %td 半角英数字
        %td 糸の色です。CSSスタイルで、Webカラー名または16進数表記に対応しています。コピペ用基本色は下記参照。
      %tr
        %td 段数
        %td 半角数字、1以上の数値
        %td 色を使用する段数を入力します。
  %li「シミュレート」ボタンを押すと、シミュレーション結果が表示されます。

%p
  値が反映されないな、と思ったら<strong>全角入力でないか確認してください。</strong>
